/* This is my first try at coding with css (and html5)- copied some snippets from w3schools.com and changed to suit and brought together*/
body {
  /*background-color: #5A3E36;*/
  background-image: url("orchidbackground.png");
  background-repeat: no-repeat;
  background-position: right top;
}
div {
  border: 1px solid #E08119;
  margin-top: 5px;
  margin-bottom: 200px;
  margin-right: 5px;
  margin-left: 20px;
  /*background-color: ghostwhite;*/
}
h1 {
  color: darkslategrey;
  font-family: helvetica;
  font-size: 26px;
  margin-left: 20px;
}
h2 {
  color: darkslategrey;
  font-family: helvetica;
  font-size: 24px;
  margin-left: 20px;
}
h3 {
  color: darkslategrey;
  font-family: helvetica;
  font-size: 20px;
  margin-left: 20px;
}
h4 {
  color: black;
  font-family: helvetica;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 300px;
}
p {
  color: black;
  font-family: verdana;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 300px;
}
blockquote {
  color: black;
  font-family: verdana;
  font-size: 16px;
  margin-left: 300px;
  margin-right: 300px;
}